<h1> Demux-EM </h1>
<br>
Simple visual implementation

In [14]:
import h5py
import numpy as np
import pyreadr
import rpy2
import pandas as pd
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
import rpy2.robjects as robjects

<h3> Get HTO Counts Matrix and UMI Matrix </h3>
Both matrices come from .rds objects and need to be transformed into .csv and hdf5

In [6]:
r_hto_matrix = pyreadr.read_r('/Users/mylenemarianagonzalesandre/Development/Bachelor-Thesis/demultiplex-pipeline/data/pbmc_hto_mtx.rds')

In [7]:
df = r_hto_matrix[None]

In [9]:
df.head()

,AGGCCACAGCGTCTAT,ATTGGTGAGTTCGCAT,GTGCAGCTCAGTCCCT,TAGTTGGGTCATACTG,TTCTTAGAGAAGGCCT,TAGACCAGTGTAACGG,TGACTAGTCAGTACGT,AGGGATGTCCAAAGTC,TGTCCCAGTCTCCACT,TTGGCAAAGGGATACC,...,AGCGTCGAGACGCACA,GTCGGGTAGAGATGAG,AGCGTCGAGACTTTCG,TGGACGCGTCGACTAT,AGCGTCGGTTCAGGCC,AGCGTCGAGTGGGATC,AACACGTGTAGCCTCG,AGCGTCGAGGGCTTCC,GTCGGGTAGCATGGCA,AGCGTCGGTCCAGTAT
HTO_A,3,19,3,6,7,2,22,0,8,32,...,2,0,1,0,1,0,62,0,0,1
HTO_B,0,17,13,17,31,10,5,13,4,3318,...,0,0,1,0,0,1,10,2,0,0
HTO_C,1,110,48,9,26,7,29,12,12,10,...,0,1,0,49,0,0,1,23,0,1
HTO_D,10,50,8,33,1769,17,17,4760,38,27,...,0,2,0,3,1,1,6,0,0,1
HTO_E,10,53,0,22,11,5418,2,18,28,9,...,0,0,1,1,0,0,9,0,28,21

R[write to console]: Lade nÃ¶tiges Paket: Matrix

AttributeError: 'RS4' object has no attribute 'items'